<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Camera Streaming</title>

          <!-- Bootstrap -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  </head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/live-data">Camera</a>
          </div>
        </div>
    </div>
    <div class="jumbotron">
        <div class="container-fluid">
          <br/>
          <p>Streaming</p>
        </div>
    </div>

    <div class='container'>
        <div class='row'>
            <div class = 'col-lg-8  offset-lg-2'>
                    <a href="/Sensor" onclick="location.href='index.html'">Sensor</a>
                    <form method='post', action="{{url_for('tasks')}}">
                    <input type="submit" value="Stop/Start" name="stop" />
                    <input type="submit" value="User" name="clicked" />
                    </form>
                <img src="{{ url_for('stream') }}" height="80%">
                <div class='print'> 사용자 {{value}} 확인했습니다.  </div>
            </div>
        </div>
    </div>
    <hr>

    <footer>
      <p>&copy; 613-1 Lab</p>
    </footer>
    </div> <!-- /container -->

</body>

</html>