<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Camera Streaming</title>
    <!-- Bootstrap -->
    <!-- CSS 디자인 플랫폼 Bootstrap 활용-->>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>
<!-- 메뉴 선택 시 해당 url 로 이동-->>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">Camera</a>
            <a class="navbar-brand" href="/Sensor">Control</a>
            <a class="navbar-brand" href="/Map">Map</a>
          </div>
        </div>
    </div>
    <div class="jumbotron">
        <div class="container-fluid">
          <br/>
          <p>Streaming</p>
        </div>
    </div>
    <!-- 백엔드에 입력을 주는 버튼 -->>
    <div class='container-fluid'>
        <div class='row'>
          <!-- 백엔드에 입력을 주는 버튼 -->>
          <form method='post', action="{{url_for('tasks')}}">
            <input type="submit" value="Stop/Start" name="camera_stop" />
            <input type="submit" value="User" name="clicked" /></br>
          </form>
          <!-- 영상 띄우기 -->>
          <img src="{{ url_for('stream') }}" height="30%" width="30%">
          <!-- 객체 인식 고유값 띄우기 -->>
          <div class='print'> 사용자 {{value}} 확인했습니다.  </div>
        </div>
    </div>
    <hr>
    <footer>
      <p>&copy; 613-1 Lab</p>
    </footer>
    </div>
</body>
</html>