<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MAP</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">Camera</a>
            <a class="navbar-brand" href="/Sensor">Control</a>
            <a class="navbar-brand" href="/Map">Map</a>
          </div>
        </div>
    </div>

    <div class="jumbotron">
      <div class="container-fluid">
        <br/>
        <p>MAP</p>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <canvas id='myCanvas' width="600" height="600" style="border:1px solid #d3d3d3;"></canvas>
        <script language = 'JavaScript'>
          var string_lst = {{string_lst|tojson}};
          var c = document.getElementByID("myCanvas");
          var ctx = c.getContext("2d");
          document.write(string_lst);
          // 새로운 imageData 개체
          // imageData의 개체 화소마다 RGBA 값의 네 가지 값을 가짐
          var imgData = ctx.createImageData(100,100);

          for (i = 0; i < string_lst.length; i++){
            str = string_lst[i].split()
            for (k = 0; k < str.length; k++) {
              for (j = 0; j < imgData.data.length; i+=4){
                // 0 : none
                if (str[k] == '0') {
                  imgData.data[j+0] = 0;
                  imgData.data[j+1] = 0;
                  imgData.data[j+2] = 0;
                  imgData.data[j+3] = 0;
                }
                // 1 : sense
                else if (str[k] == '1') {
                  imgData.data[j+0] = 255;
                  imgData.data[j+1] = 255;
                  imgData.data[j+2] = 0;
                  imgData.data[j+3] = 255;
                }
                // 2 : wall
                else if (str[k] == '2') {
                  imgData.data[j+0] = 255;
                  imgData.data[j+1] = 0;
                  imgData.data[j+2] = 0;
                  imgData.data[j+3] = 255;
                }
                // 3 : arrive
                else if (str[k] == '3') {
                  imgData.data[j+0] = 0;
                  imgData.data[j+1] = 0;
                  imgData.data[j+2] = 255;
                  imgData.data[j+3] = 255;
                }
                // 4 : empty
                else if (str[k] == '4') {
                  imgData.data[j+0] = 0;
                  imgData.data[j+1] = 0;
                  imgData.data[j+2] = 0;
                  imgData.data[j+3] = 0;
                }
                // 5 : center
                else if (str[k] == '5') {
                  imgData.data[j+0] = 0;
                  imgData.data[j+1] = 255;
                  imgData.data[j+2] = 0;
                  imgData.data[j+3] = 0;
                }
                // 6 : path
                else if (str[k] == '6') {
                  imgData.data[j+0] = 102;
                  imgData.data[j+1] = 0;
                  imgData.data[j+2] = 153;
                  imgData.data[j+3] = 255;
                }
                else {
                  document.write(str[k]);
                }
                document.write("<br>");
              }
            }
          }
          ctx.putImageData(imgData, 0, 0);
        </script>
      </div>
    </div>
    <hr>
      <footer>
        <p>&copy; 613-1 Lab</p>
      </footer>
    </div>
  </body>
</html>