<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MAP</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/live-data">MAP</a>
          </div>
        </div>
    </div>

    <div class="jumbotron">
      <div class="container-fluid">
        <br/>
        <p>MAP</p>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/" onclick="location.href='main.html'">Camera</a> &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/Sensor" onclick="location.href='index.html'">Sensor</a><br><br>
          <form action='/method' method="POST">
            <label for="fname"> 학번 : </label><br>
            <input type="text" id="fname" name="src_num"><br>
            <label for='lname'> 이름 : </label><br>
            <input type="text" id="lname" name="src_name"><br><br>
            <div class='print'> 학번 : {{value_num}} 이름 : {{value_name}} </div> <br><br>
            <input type="submit" value="commit"><br><br>
            <img src={{ url_for('static', filename='doraemong.jpg') }}>
          </form>
      </div>
    </div>

    <hr>
      <footer>
        <p>&copy; 613-1 Lab</p>
      </footer>
    </div>
  </body>
</html>