<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Control</title>

          <!-- Bootstrap -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  </head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">Camera</a>
            <a class="navbar-brand" href="/Sensor">Sensor</a>
            <a class="navbar-brand" href="/Map">Map</a>
            <a class="navbar-brand" href="/Control">Control</a>
          </div>
        </div>
    </div>
    <div class="jumbotron">
        <div class="container-fluid">
          <br/>
          <p>Control</p>
        </div>
    </div>

    <div class='container-fluid'>
        <div class='row'>
          <form action='/Control/requests1', method = 'POST'>
            <input type="submit" value=0 name="stop" /></br>
            <input type="submit" value=1 name="front" /></br>
            <input type="submit" value=2 name="left" /></br>
            <input type="submit" value=3 name="right" /></br>
            <input type="submit" value=4 name="back" /></br>
            <input type="submit" value=5 name="reset" /></br>
            <input type="submit" value=6 name="Pos" /></br>
          </form>
        </div>
    </div>
    <hr>

    <footer>
      <p>&copy; 613-1 Lab</p>
    </footer>
    </div> <!-- /container -->

</body>

</html>